DATABASE_URL="postgres://postgres:password@localhost:5432/stella_lite?sslmode=disable"

BETTER_AUTH_SECRET="<32文字以上のランダム文字列>"

BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

LINE_CLIENT_ID="<LINEチャンネルID>"
LINE_CLIENT_SECRET="<LINEチャンネルシークレット>"

ADMIN_LINE_ID="<初回自動承認するLINEユーザーID (Uから始まる文字列)>"

# for Docker Compose
# BASE_URL="http://localhost:3000"
